<div ng-controller="BathAddCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-show="bath.title">Добавление информации о бане "{{ bath.title }}"</h2>
            <h2 ng-show="!bath.title">Добавление информации о новой бане</h2>
        </div>
    </md-toolbar>

    <form novalidate>
        <table>
            <tr ng-show="error">
                <td>Error:</td>
                <td>{{ error }}</td>
            </tr>
            <tr ng-show="bath.id">
                <td>Id</td>
                <td>{{ bath.id }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" ng-model="bath.title" class="form-control"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" ng-model="bath.address" class="form-control"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" ng-model="bath.phone" class="form-control"></td>
            </tr>
            <tr>
                <td>Info</td>
                <td><textarea ng-model="bath.info" class="form-control"></textarea></td>
            </tr>
        </table>

        <button class="md-button md-primary md-raised" ng-click="save()">Save</button>
        <button class="md-button md-raised" ng-click="goto('/bathes')">Go to list</button>

    </form>

</div>