<div ng-controller="BathListCtrl">

    <h3>List View</h3>

    <a class="btn btn-success" href="#/bathes/add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add</span>
    </a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in data">
            <td>{{ x.id }}</td>
            <td><a href="#/bathes/{{ x.id }}">{{ x.title }}</a></td>
            <td><a href="#/bathes/{{ x.id }}">{{ x.address }}</a></td>
            <td>{{ x.phone }}</td>
            <td>{{ x.info }}</td>
        </tr>
        </tbody>
    </table>

</div>