<md-dialog aria-label="Баня '{{ bath.title }}'">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Баня "{{ bath.title }}"</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Закрыть" md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:550px; min-height:200px; max-width:800px; max-height:810px;">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Информация">
                    <md-content class="md-padding">
                        <h1 class="md-headline">Баня "{{ bath.title }}"</h1>
                        <h1 class="md-subhead">Адрес: {{ bath.address }}</h1>
                        <h1 class="md-subhead">Телефон: {{ bath.phone }}</h1>
                        <h1 class="md-subhead">Подробная информация:</h1>
                        <h1 class="md-body-2">{{ bath.phone }}</h1>
                    </md-content>
                </md-tab>
                <md-tab label="Оценки">
                    <md-content class="md-padding">
                        <h1 class="md-headline">Общая оценка: {{ bath.averageMark }}</h1>
                    </md-content>
                </md-tab>
                <md-tab label="Фото">
                    <md-content class="md-padding">
                        <h1 class="md-display-1">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                            molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit
                            erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac
                            est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Комментарии">
                    <md-content class="md-padding">
                        <div>
                            <div>
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media"><img src="static/img/123.png"></div>
                                        </md-card-title-media>
                                        <md-card-title-text>
                                            <span class="md-headline" style="padding-left: 20px;">Имя Отчество</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <md-input-container class="md-block">
                                            <label>Новый комментарий</label>
                                            <textarea ng-model="newComment"></textarea>
                                            <div text-angular="text-angular" name="comment" ng-model="newComment" ta-disabled='disabled'></div>
                                        </md-input-container>
                                    </md-card-content>

                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button ng-click="add()">Добавить комментрий</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>

                            <div ng-repeat="comment in comments" layout="column">
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media"><img src="{{comment.iconPath}}"></div>
                                        </md-card-title-media>
                                        <md-card-title-text>
                                            <span class="md-subhead" style="padding-left: 20px;">{{comment.firstName}} {{comment.lastName}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <div ta-bind="text" ng-model="comment.text" ta-readonly='disabled' style="word-wrap: break-word;text-align: justify;text-indent: 25px;"></div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>