<md-dialog aria-label="Баня '{{ bath.title }}'">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Баня "{{ bath.title }}"</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Закрыть">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                        </svg>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:550px; min-height:200px; max-width:800px; max-height:810px;">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Информация">
                    <md-content class="md-padding">
                        <h1 class="md-headline">Баня "{{ bath.title }}"</h1>
                        <h1 class="md-subhead">Адрес: {{ bath.address }}</h1>
                        <h1 class="md-subhead">Телефон: {{ bath.phone }}</h1>
                        <h1 class="md-subhead">Подробная информация:</h1>
                        <h1 class="md-body-2">{{ bath.phone }}</h1>
                    </md-content>
                </md-tab>
                <md-tab label="Оценки">
                    <md-content class="md-padding">
                        <h1 class="md-headline">Общая оценка: {{ bath.averageMark }}</h1>
                    </md-content>
                </md-tab>
                <md-tab label="Фото">
                    <md-content class="md-padding">
                        <h1 class="md-display-1">Tab Three</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Комментарии">
                    <md-content class="md-padding">
                        <h1 class="md-display-1">Tab 4</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>