<div ng-controller="BathListCtrl">

    <md-button class="md-primary md-ink-ripple md-raised" ng-click="showDialog({}, $event)">
        <md-icon md-svg-src="static/img/svg/add.svg"></md-icon>
        <span>Добавить баню</span>
    </md-button>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="query.sort" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md-order-by="title"><span>Название</span></th>
                <th md-column md-order-by="address">Адрес</th>
                <th md-column md-order-by="phone">Телефон</th>
                <th md-column md-order-by="averageMark" md-numeric>Оценка</th>
                <th md-column md-order-by="info">Информация</th>
                <th md-column>Действия</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="bath in data.content">
                <td md-cell>{{ bath.title }}</td>
                <td md-cell>{{ bath.address }}</td>
                <td md-cell>{{ bath.phone }}</td>
                <td md-cell>{{ bath.averageMark }}</td>
                <td md-cell>{{ bath.info }}</td>
                <td md-cell>
                    <md-button class="md-fab md-mini md-primary" aria-label="Редактировать" ng-click="showDialog(bath, $event)">
                        <md-tooltip md-direction="top">
                            Редактировать
                        </md-tooltip>
                        <md-icon md-svg-src="static/img/svg/edit.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Удалить" ng-click="showDeleteDialog(bath, $event)">
                        <md-tooltip md-direction="top">
                            Удалить
                        </md-tooltip>
                        <md-icon md-svg-src="static/img/svg/delete.svg"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.size"
                         md-page="query.page"
                         md-total="{{ data.totalElements }}"
                         md-on-paginate="onPaginate"
                         md-page-select
                         md-label="{ page: 'Страница:', rowsPerPage: 'Записей на странице:', of: 'из' }">

    </md-table-pagination>

</div>