<div ng-controller="BathListCtrl">

    <button class="md-button md-primary md-ink-ripple md-raised" ng-click="showDialog($event)">Добавить баню</button>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Информация</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bath in bathes">
            <td>{{ bath.id }}</td>
            <td><a class="md-button md-primary md-ink-ripple" href="#/bathes/{{ bath.id }}">{{ bath.title }}</a></td>
            <td><a class="md-button md-primary md-ink-ripple" href="#/bathes/{{ bath.id }}">{{ bath.address }}</a></td>
            <td>{{ bath.phone }}</td>
            <td>{{ bath.info }}</td>
        </tr>
        </tbody>
    </table>

</div>