.md-button.logo {
    height: 4rem;
    width: 4rem;
}

.md-button.logo md-icon {
    width: 48px;
    height: 48px;
}

.logo-text {
    font-family: "Marck Script", cursive;
    font-style: italic;
    font-size: 2rem !important;
    margin-right: 25px !important;
}
