<div ng-controller="ServiceListCtrl">

    <md-button class="md-primary md-ink-ripple md-raised" ng-click="showDialog({}, $event)">Добавить услугу</md-button>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Код</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="service in services" ng-click="showDialog(service, $event)">
            <td>{{ service.id }}</td>
            <td>{{ service.title }}</td>
            <td>{{ service.code }}</td>
        </tr>
        </tbody>
    </table>

</div>