<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Бани для нас</title>
    <link rel="icon" type="image/ico" href="static/img/broom.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="static/bower_components/angular-material-data-table/dist/md-data-table.min.css">

    <link rel='stylesheet' href='static/bower_components/textAngular/dist/textAngular.css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">


    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="static/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="static/bower_components/angular-material/angular-material.min.js"></script>
    <script src="static/bower_components/angular-material-data-table/dist/md-data-table.js"></script>

    <script src='static/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='static/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='static/bower_components/textAngular/dist/textAngular.min.js'></script><!-- min. -->

    <script src="static/js/app.js"></script>

    <script src="static/js/controller/BathListCtrl.js"></script>
    <script src="static/js/controller/BathDetailDialogCtrl.js"></script>
    <script src="static/js/controller/BathAddDialogCtrl.js"></script>
    <script src="static/js/controller/ServiceAddDialogCtrl.js"></script>
    <script src="static/js/controller/ServiceListCtrl.js"></script>
    <script src="static/js/controller/MainMenuCtrl.js"></script>

    <script src="static/js/directive/OwnSignPanel.js"></script>
    <script src="static/js/directive/OwnRateBox.js"></script>

    <script src="static/js/service/ToastFactory.js"></script>
    <script src="static/js/service/FocusFactory.js"></script>
    <script src="static/js/service/AuthService.js"></script>
    <script src="static/js/service/rest/BathRestService.js"></script>
    <script src="static/js/service/rest/ServiceRestService.js"></script>
    <script src="static/js/service/rest/LoginRestService.js"></script>
</head>
<body>

<md-toolbar ng-controller="MainMenuCtrl" layout="row" class="md-whiteframe-z1">
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button logo" ng-click="goto('/bathes')">
            <md-icon md-svg-icon="broom"></md-icon>
        </md-button>
        <h2 class="logo-text">#BathForUs</h2>

        <md-button aria-label="Список бань" ng-click="goto('/bathes')">
            <span ng-class="setClassByUrl('md-subhead', '/bathes')">Список бань</span>
        </md-button>

        <md-button aria-label="Перечень услуг" ng-click="goto('/services')" ng-show="$root.user.isAdmin">
            <span ng-class="setClassByUrl('md-subhead', '/services')">Перечень услуг</span>
        </md-button>

        <span flex></span>

        <own-sign-panel></own-sign-panel>

    </div>
</md-toolbar>

<div ng-view></div>

</body>
</html>