<span layout="row" layout-align="center center">

    <p class="md-body-1" ng-show="$root.username">Добро пожаловать, {{ $root.username }}</p>

    <md-menu ng-hide="$root.username">
        <md-button aria-label="Войти" ng-click="openForm($mdOpenMenu, $event)">
            Войти
        </md-button>

        <md-menu-content>
            <md-content layout-gt-sm="column" layout-padding>
                <form name="loginForm">

                    <md-input-container class="md-block flex-gt-sm">
                        <label>Логин</label>
                        <input id="input-loginForm-login" name="login" ng-model="user.login" class="md-input" required
                               ng-disabled="inProgress">
                        <div ng-messages="loginForm.login.$error" md-auto-hide="false">
                            <div ng-message="required">
                                Введите логин
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block flex-gt-sm" ng-disabled="inProgress">
                        <label>Пароль</label>
                        <input name="password" ng-model="user.password" type="password" class="md-input"
                               required
                               ng-disabled="inProgress">
                        <div ng-messages="loginForm.password.$error" md-auto-hide="false">
                            <div ng-message="required">
                                Введите пароль
                            </div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-sm="column" layout-margin>
                        <md-button md-prevent-menu-close ng-click="login()" class="md-raised md-primary" flex
                                   ng-disabled="loginForm.login.$invalid || loginForm.password.$invalid"
                                   ng-hide="inProgress" type="submit">
                            Войти
                        </md-button>
                        <div layout="row" ng-show="inProgress" layout-align="start center">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            <h1 class="md-caption">Аутентификация</h1>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-menu-content>
    </md-menu>

    <span ng-show="$root.username">
        <md-menu ng-hide="inProgress">
            <md-button aria-label="Выйти" ng-click="logout()" ng-disabled="inProgress">
                Выйти
            </md-button>
            <md-menu-content></md-menu-content>
        </md-menu>
        <span layout="row" layout-align="center center" ng-show="inProgress">
            <md-progress-circular md-mode="indeterminate" class="md-hue-1"></md-progress-circular>
            <h6 class="md-caption">Выход</h6>
        </span>
    </span>

</span>